body {
    box-sizing: border-box;
    font-family: "Lato";
    font-size: 18px;
    color: #313131;
    line-height: 1.3;
}

.section {
    width: 70%;
    margin: 25vh auto 15vh;
}

@media screen and (max-width: 40em) {
    .section {
        width: 90%; 
    }

    .section.posts {
        width: 100%;
    }
}

.hero>* {
    /* width: 50%; */
}

.hero_nameImg {
    width: 200px;
    margin: 0;
}

.hero_text--tag {
    margin-top: 7px;
    margin-bottom: 30px;
}

.hero_Links {
    position: absolute;
    padding-left: 0px;
    margin-left: 0px;
}

.hero_Links li {
    float: left;
    list-style: none;
}
.hero_Links li:not(:first-of-type) {
    margin: 0 0 0 15px;
}

.hero_link-icon {
    font-family: "Lato";
    font-size: 16px;
    color: #313131;
    line-height: 1.3;
    box-shadow: none;
}

.hero_button {
    background: #12A962;
    color:#fff;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.2px;
    font-weight: 700;
    line-height: 17px;
    padding: 1rem 2rem;
    position: relative;
    margin: 20px 0;
    border-radius: 3px;
    text-decoration: none;
}










.bio-footer {
    padding-top: 8rem;
    margin: auto;
    margin-bottom: 8rem;
    width: 70%;
}

.bio-footer-ul {
    margin-bottom: 1rem;
    padding-left: 0;
    list-style-type: none;
}

.bio-footer-li {
    display: inline-block;
    margin-bottom: 0;
}

.bio-footer-li:not(:last-of-type) {
    margin-right: 1rem;
}

.bio-footer-titletext {
    font-size: .875rem;
    text-decoration: none;
    box-shadow: none;
    font-weight: 700;
    color: #313131;
}

.bio-footer-linktext {
    font-size: .875rem;
    text-decoration: none;
    box-shadow: none;
    color: #313131;
}








.blog-article {
    padding: 1em;
    margin: 0.5em;
}

.blog-article:hover {
    cursor: pointer;
}

@media screen and (max-width: 40em) {
    .blog-article {
        padding: 1em 0.5em;
    }
}

.blog-link {
    box-shadow: none; 
    font-family: 'Raleway'; 
    color: #313131;
}














.post-name {
    margin-top: 1rem; 
    margin-bottom: 0;
    font-family: 'Raleway'; 
}

.post {
    width: 50%; 
    margin: 0 35% 0 15%;
}

@media screen and (max-width: 40em) {
    .post {
        width: 90%;
        margin: 0 35% 0 5%;
    }
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    font-family: 'Raleway';
    margin-top: 5.5rem;
}

.post h4 {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 3.5rem;
}

.post p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
}

header.post p {margin-top: 0rem;}

.post a {
    color: #12A962 !important;
    box-shadow: 0 4px 0 0 #12A96252;
}

.post blockquote {
    border-left: 0.32813rem solid #12A962;
}

.post code {
    background: rgb(242, 244, 242) none repeat scroll 0% 0%;
    padding: 5px 10px;
    font-family: 'Menlo', 'Monaco', "Courier New", Courier, monospace;
    border-radius: 5px;
    font-size: 1.05rem;
}

.post .gatsby-highlight {
    background: rgb(242, 244, 242) none repeat scroll 0% 0%;
    padding: 20px;
    border-radius: 10px;
    margin: 4rem 0;
}

.post .gatsby-highlight pre {
    margin-bottom: 0px;
}

.post img {
    border-radius: 10px;
}